/**
!.gitignore

!.zshrc
!.zprofile
!.vimrc
!.xinitrc

!.config/
.config/**

!.config/pulse/
!.config/pulse/default.pa

!.config/Xresources
!.config/xthemes/
!.config/xthemes/**
.config/xthemes/themes/default
!.config/xmodmaprc

!.config/bspwm/
!.config/bspwm/**

!.config/sxhkd/
!.config/sxhkd/**

!.config/dunst/
!.config/dunst/**

!.config/polybar/
!.config/polybar/**

!.config/ranger/
!.config/ranger/**
.config/ranger/colorschemes/__init__.py

!.config/rofi/
!.config/rofi/**

!.config/tmux/
!.config/tmux/**

!.config/spicetify/
!.config/spicetify/config.ini
!.config/spicetify/Themes/
!.config/spicetify/Themes/Xresources/
!.config/spicetify/Themes/Xresources/**

!.config/autokey/
!.config/autokey/**

!.config/gtk-3.0/
!.config/gtk-3.0/**

!.config/zsh/
!.config/zsh/**

!.config/user-dirs.dirs

!.local/
!.local/bin/
!.local/bin/**

*.pyc
