/**
!.gitignore

!.zshrc
!.zprofile
!.xinitrc

!.config/
.config/**

!.config/pulse/
!.config/pulse/default.pa

!.config/Xresources
!.config/xthemes/
!.config/xthemes/**
.config/xthemes/themes/default
!.config/xmodmaprc

!.config/bspwm/
!.config/bspwm/**

!.config/sxhkd/
!.config/sxhkd/**

!.config/dunst/
!.config/dunst/**

!.config/polybar/
!.config/polybar/**

!.config/ranger/
!.config/ranger/**
.config/ranger/colorschemes/__init__.py

!.config/rofi/
!.config/rofi/**

!.config/tmux/
!.config/tmux/**

!.config/spicetify/
!.config/spicetify/config.ini
!.config/spicetify/Themes/
!.config/spicetify/Themes/Xresources/
!.config/spicetify/Themes/Xresources/**

!.config/autokey/
!.config/autokey/**

!.config/gtk-3.0/
!.config/gtk-3.0/**

!.config/zsh/
!.config/zsh/**

!.config/user-dirs.dirs
!.config/mimeapps.list

!.config/picom/
!.config/picom/**

!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/plugged/
!.config/nvim/plugged/lightline.vim/
.config/nvim/plugged/lightline.vim/**
!.config/nvim/plugged/lightline.vim/autoload/
!.config/nvim/plugged/lightline.vim/autoload/lightline/
!.config/nvim/plugged/lightline.vim/autoload/lightline/colorscheme/
!.config/nvim/plugged/lightline.vim/autoload/lightline/colorscheme/custom.vim

!.config/htop/
!.config/htop/**

!.local/
!.local/bin/
!.local/bin/**
!.local/share/
!.local/share/applications/
!.local/share/applications/*.desktop

*.pyc
