/**
!.gitignore

!.zshrc
!.zprofile
!.vimrc
!.xinitrc

!.config/
.config/**

!.config/bspwm/
!.config/bspwm/**

!.config/sxhkd/
!.config/sxhkd/**

!.config/dunst/
!.config/dunst/**

!.config/polybar/
!.config/polybar/**

!.config/ranger/
!.config/ranger/**
.config/ranger/colorschemes/__init__.py

!.config/rofi/
!.config/rofi/**

!.config/tmux/
!.config/tmux/**

*.pyc
