$xres-bg: #000000;
$xres-fg: #000000;
$xres-focusedDesktopBg: #000000;
$xres-focusedDesktopFg: #000000;
$xres-font-family: iosevka;
$xres-font-size: 12pt;

$xres-black: #000000;
$xres-red: #000000;
$xres-green: #000000;
$xres-yellow: #000000;
$xres-blue: #000000;
$xres-magenta: #000000;
$xres-cyan: #000000;
$xres-white: #000000;

$xres-b-black: #000000;
$xres-b-red: #000000;
$xres-b-green: #000000;
$xres-b-yellow: #000000;
$xres-b-blue: #000000;
$xres-b-magenta: #000000;
$xres-b-cyan: #000000;
$xres-b-white: #000000;
